table {
  width: 100%;
}

mat-card{
  width: 85%;
  height: 80%;
  margin: 1rem auto 0 auto;

  position: relative;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
}

.toobar button {
  margin-left: auto;
}

toobar {
  flex: 1 1 auto;
}

#icon-delete{
  color: rgb(235, 104, 104);
}

#icon-edit{
  color: green;
}

.prioridade-baixa{
  color: rgb(7, 121, 83);
}

.prioridade-media{
  color: rgb(236, 234, 88);
}

.prioridade-alta{
  color: rgb(156, 47, 4);
}
