<mat-toolbar class="header mat-elevation-z8" color="primary">

  <button  mat-button  (click)="showFiller = !showFiller"  >
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button><mat-icon>home</mat-icon>Home</button>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav [(opened)]="showFiller" mode="side" class="side-nav">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i>Home
      </a>
      <a mat-list-item routerLink="tecnico">
        <i class="material-icons">work</i>Técnico
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">person_search</i>Cliente
      </a>
      <a mat-list-item routerLink="/">
        <i class="material-icons">person_pin</i>Ordens de serviço
      </a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
