table {
  width: 100%;
}

mat-card{
  width: 85%;
  height: 75%;
  margin: 1rem auto 0 auto;
}

.toobar button {
  margin-left: auto;
}

toobar {
  flex: 1 1 auto;
}

#icon-delete{
  color: rgb(235, 104, 104);
}

#icon-edit{
  color: green;
}
